$euiHeaderChildSize--width: $euiSizeXXL;

.chrWrap {
  width: calc(100% - 3rem);
  margin-left: 3rem;
  padding-top: $euiHeaderChildSize--new;
}

.chrHeader {
  @include euiBottomShadowMedium;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $euiHeaderChildSize--new;
  border-bottom: none;
  padding-left: $euiSizeXS;
  padding-right: $euiSizeS;

  .euiHeaderSectionItem {
    display: flex;
    align-items: center;
  }

  .euiHeaderSectionItem:hover {
    background: none;
  }

  .euiHeaderSectionItem__button {
    position: relative; // for aligning the notification badge
    height: $euiHeaderChildSize--width;
    min-width: $euiHeaderChildSize--width;

    &:hover {
      background: $euiColorLightestShade;
    }

    .euiHeaderNotification {
      top: 4%;
      right: 4%;
    }
  }

  .euiHeaderLogo {
    padding-left: $euiSizeS;
    padding-right: $euiSizeS;
    min-width: $euiHeaderChildSize--width;
  }

  .euiHeaderBreadcrumbs {
    margin-left: $euiSizeS;
  }

  .euiBreadcrumbs {
    @include euiFontSize;
  }
}

.euiFlyout {
  top: $euiHeaderChildSize--new + 1px;
  height: calse(100vh - #{$euiHeaderChildSize--new + 1px});
}
