@import '../nav_drawer/variables';

$euiHeaderChildSize--width: $euiSizeXXL;

.chrWrap {
  padding-top: $euiHeaderChildSize--new;

  .chrHeader--navIsDocked ~ & {
    // Shrink the content from the left so it's no longer overlapped by the nav drawer (ALWAYS)
    padding-left: $euiNavDrawerWidthExpanded !important; // sass-lint:disable-line no-important
    transition: padding $euiAnimSpeedFast $euiAnimSlightResistance;
  }
}


.chrHeader {
  @include euiBottomShadowMedium;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $euiHeaderChildSize--new;
  border-bottom: none;
  padding-left: $euiSizeXS;
  padding-right: $euiSizeS;
  z-index: $euiZLevel7;
  justify-content: space-between;

  // EUI OVERRIDES and eventually changes

  .euiHeaderSectionItem {
    display: flex;
    align-items: center;
  }

  .euiHeaderSectionItem:hover {
    background: none;
  }

  .euiHeaderSectionItem__button {
    position: relative; // for aligning the notification badge
    height: $euiHeaderChildSize--width;
    min-width: $euiHeaderChildSize--width;

    &:hover {
      background: $euiColorLightestShade;
    }

    .euiHeaderNotification {
      top: 4%;
      right: 4%;
    }
  }

  .euiHeaderLogo {
    padding-left: $euiSizeS;
    padding-right: $euiSizeS;
    min-width: $euiHeaderChildSize--width;
  }

  .euiHeaderBreadcrumbs {
    margin-left: $euiSizeS;
  }

  .euiBreadcrumbs {
    @include euiFontSize;
  }
}

// Somehow this needs to happen for all Flyouts in consuming apps if they make the header sticky
.euiFlyout {
  border-top: 1px solid $euiColorLightShade;
  top: $euiHeaderChildSize--new;
  height: calc(100vh - #{$euiHeaderChildSize--new});
}

.chrNavGroup--noPaddingTop {
  padding-top: 0;
}

.chrNavGroup--inShade {
  background-color: $euiPageBackgroundColor;
  max-height: 40vh;
}

.chrNavGroup--scroll {
  @include euiScrollBar;
  border-top: $euiBorderThin;
  overflow-y: auto;
  height: 100%;
}
