.chrDeployment {
  background-color: $chrDeploymentBackgroundColor;
  color: $euiColorGhost;

  // TODO: Allow EuiAccordion to swap arrow icon sides (left to right) (and arrow direction?)
  &__button {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: $euiSize;
  }

  .euiAccordion__iconWrapper {
    margin-right: 0;
    margin-left: $euiSizeS;
  }
}

.chrDeployment__buttonTitle {
  small {
    color: lightOrDarkTheme($euiColorLightShade, $euiColorDarkShade);
  }
}

.chrDeployment__content {
  background-color: shade($chrDeploymentBackgroundColor, 20%);
  padding: $euiSize;
  box-shadow: inset 0 1px 0 tint($chrDeploymentBackgroundColor, 10%);
}