@import './variables';

@import './page';

@import './fixed/index';
@import './padding/index';

.euiButtonContent > * + * {
  &:empty {
    margin: 0;
  }
}

.euiBody--collapsibleNavIsDocked {
  transition: none;
}

.euiCollapsibleNav--isDocked {
  animation: none;
}

.euiTab:not(.euiTab--small) {
  @include euiFontSizeM;
}

.euiCard--primaryTitle .euiCard__title {
  color: $euiLinkColor;
}
