.euiNavDrawerGroupList__item {
  margin-top: 0;
  color: $euiColorDarkShade; // Colors the icon

  .euiListGroupItem__label {
    transition: all $euiAnimSpeedExtraFast;
    // Should these be overrides or change the EuiListGroupItem's small size?
    font-size: $euiFontSizeS - 1px;
    font-weight: $euiFontWeightMedium;
    letter-spacing: 0;
  }

  .euiListGroupItem__button {
    color: inherit; // Force color to inherit from regular text color in case it's an anchor tag

    &:focus {
      background-color: $euiFocusBackgroundColor;
      border-radius: $euiBorderRadius;
    }
  }

  &.euiListGroupItem-isActive {
    color: $euiTextColor;

    .euiListGroupItem__label {
      font-weight: $euiFontWeightSemiBold;
    }
  }
}

.euiNavDrawerGroupList__itemExtraAction {
  svg {
    transform: rotate(45deg);
  }
}

.euiNavDrawerGroupList__itemExtraAction-pinned:not(:hover):not(:focus) {
  color: $euiColorLightShade;
}
