.euiHeader {
  @include euiBottomShadowMedium;
  height: $euiHeaderChildSize--new;
  border-bottom: none;
  padding-left: $euiSizeXS;
  padding-right: $euiSizeS;
  z-index: $euiZLevel7;

  .euiHeaderSectionItem:hover {
    background: none;
  }

  .euiHeaderSectionItem__button {
    position: relative; // for aligning the notification badge
    height: $euiHeaderChildSize--width;
    min-width: $euiHeaderChildSize--width;

    &:hover {
      background: $euiColorLightestShade;
    }

    .euiHeaderNotification {
      top: 4%;
      right: 4%;
    }
  }

  .euiHeaderLogo {
    padding-left: $euiSizeS;
    padding-right: $euiSizeS;
    min-width: $euiHeaderChildSize--width;
  }

  .euiHeaderLogo__text {
    @include euiFontSize;
    font-weight: $euiFontWeightMedium;
  }

  .euiHeaderBreadcrumbs {
    margin-left: $euiSizeS;
  }
}