.euiHeader {
  @include euiBottomShadowMedium;
  border-bottom: none;
  padding-left: $euiSizeS;
  padding-right: $euiSizeS;

  .euiHeaderSectionItem__button {
    height: $euiHeaderChildSize;
    min-width: $euiHeaderChildSize;
  }

  .euiHeaderLogo {
    padding-left: $euiSizeS;
    padding-right: $euiSizeS;
    min-width: $euiHeaderChildSize;
  }

  .euiHeaderLogo__text {
    @include euiFontSize;
    font-weight: $euiFontWeightMedium;
  }

  .euiHeaderBreadcrumbs {
    margin-left: $euiSizeS;
  }
}