.euiNotificationFlyoutMessage {
  padding: $euiSizeM $euiSizeS;
  border-bottom: $euiBorderThin;

  &:last-child {
    border-bottom: none;
  }

  &--withReadState {
    .euiNotificationFlyoutMessage__content {
      padding-left: $euiSizeL;
    }
  }
}

.euiNotificationFlyoutMessage__content {
  > * { 
    margin-top: $euiSizeS;
  }
}