// This file generates a blob file that has a light background
@import '~@elastic/eui/src/theme_amsterdam_light';

@import '../global_styling/index';
@import '../components/index';

// Testing old layout vs new by only importing new page into light theme
@import '../components/eui/page';

@import '../pages/index';

.pageScreenshot {
  filter: none;
  mix-blend-mode: normal;
}
