// This file generates a blob file that has a dark background
@import '~@elastic/eui/src/theme_amsterdam_dark';

@import '../global_styling/index';
@import '../components/index';

@import '../pages/index';

.pageScreenshot {
  filter: invert(1) hue-rotate(154deg);
  mix-blend-mode: color-dodge;
}