.euiNavDrawerGroup {

  // TODO: Make this an option in EuiAccordion
  &__button {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: $euiSize;
    font-size: $euiFontSizeS;
    font-weight: $euiFontWeightSemiBold;
  }

  .euiAccordion__iconWrapper {
    margin-right: 0;
    margin-left: $euiSizeS;
  }
}