// Nav drawer. Global application navigation.

.euiNavDrawer2 {
  right: auto;
  left: 0;
  min-width: $euiNavDrawerWidthExpanded;
  max-width: $euiNavDrawerWidthExpanded;
  width: $euiNavDrawerWidthExpanded;

  animation: euiFlyout2 $euiAnimSpeedNormal $euiAnimSlightResistance;

  .euiFlyout__closeButton {
    display: none !important;
  }
}

.euiNavDrawerMenu2 {
  @include euiScrollBar;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  &-hasFooter {
    margin-bottom: $euiSizeXXL;
  }
}

@keyframes euiFlyout2 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  75% {
    opacity: 1;
    transform: translateX(0%);
  }
}